{% extends "base.html" %}
{% load i18n %}
{% block title %}Login{% endblock %}

{% block content %}
<br>
  {% if form.errors %}
    <p><b>{% trans "Sign-in error, try again" %}!</b></p>
  {% endif %}
  
  {% if next %}
    {% if user.is_authenticated %}
      <p>{% trans "You do not have access to this information. You need to log in" %}.</p>
    {% endif %}
  {% endif %}
  <br>
  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <table>
      <tr>
        <td>{% trans "User" %}: </td>
        <td><input class="form-control" {{ form.username }}</td>
      </tr>
      <tr>
        <td>{% trans "Password" %}: </td>
        <td><input class="form-control" {{ form.password }}</td>
      </tr>

    </table>
     <br>
    <input type="submit" class="btn btn-success" value="{% blocktrans %} Login {% endblocktrans %}" />
    <input type="hidden" name="next" value="{{ next }}" />
  </form>
  
  <p><a href="{% url 'password_reset' %}">{% trans "Forgot your password" %}?</a></p>
  
{% endblock %}
