{% extends "base.html" %}
{% load i18n %}
{% block content %}
<br>
    {% if validlink %}
        <p><b>{% trans "Enter the new password and repeat" %}!</b></p>
        <form action="" method="post">
        {% csrf_token %}
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">{% trans "New password" %}:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">{% trans "Confirm" %}:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" class="btn btn-success" value="{% blocktrans %} Change password {% endblocktrans %}" /></td>
                </tr>
            </table>
        </form>
    {% else %}
        <h1>{% trans "Password could not be changed" %}</h1>
        <p>{% trans "The password change link is invalid. Please initiate the password change again" %}.</p>
    {% endif %}
{% endblock %}