{% extends "base.html" %}
{% block title %}Skelbimai{% endblock %}
{% block content %}
{% load static %}
<ul></ul>
 <h1>Visi skelbimai </h1>
<ul></ul>
  <p><b>Objektų sąrašas :</b></p>
{% if skelbimai %}
    <div class="row">
      {% for skelbimas in skelbimai %}
        <div class="col-md-4 d-flex align-items-stretch">
          <div class="card mb-4 shadow-sm">
            {% if skelbimas.foto %}
              <img src="{{ skelbimas.foto.url }}" class="card-img-top" alt="...">
            {% else %}
              <img src="{% static 'img/no-image.png' %}" class="card-img-top">
            {% endif %}
               <div class="card-body">
              <h6 class="card-subtitle mb-2 text-muted">{{ skelbimas.caption }}</h6>
              <p class="card-text"><a href="{{ skelbimas.id }}">{{ skelbimas.type}}</a></p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    {% else %}
      <p>Bibliotekoje knygų nėra.</p>
    {% endif %}


<div class="container puslapiai">
    <nav aria-label="...">
        {% if skelbimai.has_other_pages %}
            <ul class="pagination pagination-sm justify-content-end">
                {% for i in skelbimai.paginator.page_range %}
                    {% if skelbimai.number == i %}
                        <li class="page-item active">
                            <a class="bg-success page-link">{{ i }}</a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}
    </nav>
</div>

{% endblock %}
