{% extends "base.html" %}
{% load i18n %}
{% block title %}User Ads{% endblock %}
{% block content %}
<ul></ul>
 <h1>{% trans "My Ads" %} </h1>
<ul></ul>
  <p><b>{% trans "Object list" %} :</b></p>
  {% if skelbimai %}
  {% for skelbimas in skelbimai %}
<hr>
<p><a href="{% url 'skelbimas' skelbimas.id %}">{{skelbimas}}</a></p>

     {% endfor %}
  {% else %}
      <p>{% trans "No objects" %}.</p>
  {% endif %}

 <div class="container puslapiai">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; pirmas</a>
            <a href="?page={{ page_obj.previous_page_number }}">atgal</a>
        {% endif %}

        <span class="current">
            {{ page_obj.number }} iš {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">pirmyn</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">paskutinis &raquo;</a>
        {% endif %}
    </span>
</div>


{% endblock %}
